# Environment
.env

# Build output
/dist

# Dependencies
/node_modules
/package-lock.json
.yarn/install-state.gz
/yarn-error.log

# IDE
/.vs
/.idea
*.sln
*.njsproj
*.njsproj.user

# Runtime data
/data
/tmp
/log
/tokens
/uploads
/WhatsAppImages
/userDataDir
/backupFolder

# Generated
*.png
*.tgz
*.zip
*.mp3

# WPPConnect
wppconnect_tokens/*

# Misc
/bin
/obj