services:
  mongodb:
    image: mongo:4.4
    container_name: mongodb
    restart: unless-stopped
    environment:
      TZ: 'America/Sao_Paulo'
      MONGO_INITDB_ROOT_USERNAME: mongo
      MONGO_INITDB_ROOT_PASSWORD: VLbTLVJLnCh4jsVpWhtsJvzrKFJrKCFpNLprpcxPJgxJbWmjMkkvxPprfVvJJmK7
    ports:
      - '27017:27017'
    volumes:
      - mongodata:/data/db
    healthcheck:
      test: ['CMD-SHELL', 'mongo --username mongo --password VLbTLVJLnCh4jsVpWhtsJvzrKFJrKCFpNLprpcxPJgxJbWmjMkkvxPprfVvJJmK7 --eval "db.adminCommand(\"ping\")"']
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7
    container_name: redis
    restart: unless-stopped
    environment:
      TZ: 'America/Sao_Paulo'
      REDIS_PASSWORD: efie8haiwiex3ShoshoiSo2agahnguv6ebeides8sairaephei8ooshie5oWeiSh
    ports:
      - '6379:6379'
    volumes:
      - redisdata:/data
    command: ['sh', '-c', 'redis-server --requirepass "efie8haiwiex3ShoshoiSo2agahnguv6ebeides8sairaephei8ooshie5oWeiSh"']
    healthcheck:
      test: ['CMD-SHELL', 'redis-cli -a "efie8haiwiex3ShoshoiSo2agahnguv6ebeides8sairaephei8ooshie5oWeiSh" ping']
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  redisdata:
  mongodata:
